[Unit]
Description=Gunicorn daemon for One Capital Sales Dashboard
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/OneCWebsite/1capital_new-main_website/SalesDashboard
ExecStart=/root/OneCWebsite/1capital_new-main_website/venv/bin/gunicorn \
          --access-logfile /root/OneCWebsite/1capital_new-main_website/SalesDashboard/logs/gunicorn-access.log \
          --error-logfile /root/OneCWebsite/1capital_new-main_website/SalesDashboard/logs/gunicorn-error.log \
          --workers 3 \
          --bind 127.0.0.1:8000 \
          SalesDashboard.wsgi:application

[Install]
WantedBy=multi-user.target
